/*
green: #77E899;
cyan: #AEEEF5;
purple: #BFA1F4;
yellow: #E6E53E;
red: #DC4D65;
orange: #E8A34F;
blue: #708CEC;
pink: #F3A3EA;
*/

.preheader {
  background-color: #E6E53E;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #77E899;
  height: 50px;
  width: 200px;
}

.title {
  background-color: #AEEEF5;
  height: 100px;
  width: 400px;
}

.social {
  background-color: #BFA1F4;
  height: 50px;
  width: 200px;
}

.navbar {
  background-color: #DC4D65;
  height: 50px;
  width: 100%;
}

.navbar > ul {
  display: flex;
  justify-content: flex-start;
}


.carousel,
.section,
.footer {
  height: 200px;
}

.carousel {
  background-color: #E8A34F;
}

.section1 {
  background-color: #708CEC;
}

.section2 {
  background-color: #77E899;
}

.section3 {
  background-color: #F3A3EA;
}

.section4 {
  background-color: #E6E53E;
}

.section5 {
  background-color: #BFA1F4;
}

.footer {
  background-color: #AEEEF5;
}
